body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.bouton-image:before {
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 3px;
    margin-left: -2px;
    margin-top: 3px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}

.doi-icon:before{
     background-image : url(assets/img/doi_bw.png);
}